&.page-home, body.page-home {
  margin-top: 0;
  background-color: #68ADD7;
  background-image: none;

  .home-upper {
    background-image: url('../img/bg_home_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    height: auto;
    min-height: 100vh;

  }

  .home-upper-overlay {
    // background-image: url('../img/bg_home_header_overlay_transparent.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    height: auto;
    min-height: 100vh;
  }

  .home-hero {

    height: auto;
    padding-bottom: 20pt;
    padding-top: 65pt;

    section {
      padding: 10pt;

      h1 {
        margin-bottom: .8*$size-font-h1;
      }

      p {
        margin-bottom: .8*$size-font-h1;
      }
    }

    .home-video {
      margin: 10pt;
      border: 1px $color-text-accent solid;
    }

  }

  @media (min-width: $screen-lg-min) {
    .home-hero {
      padding-top: 20vh;

      .home-video {
        /*margin-top: 10vh;*/
        margin-top: 45px;
      }
    }
  }

  .home-main {
    background-image: url('../img/bg_home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

    section {
      padding: 50px 0;

      h2 {
        font-size: 42pt;
        margin-bottom: 20pt;
      }

    }
  }

  .integration-reel {
    background: $color-background-dark;

    .integration-bar-description {
      padding: 20px 20px;
    }

    .dropdown-menu li a {
      color: $color-text-accent;
    }

    li:hover .fa {
      color: $color-text-accent;
    }

    li:hover svg {
      fill: $color-text-accent;
    }

  }

  .partner-window-container {
    background: darken($color-background-dark, 5);

    .partner-window {
      color: $color-text-inverse-secondary;
      font-size: 0.9em;
      display: none;
      text-align: justify;

      &.active {
        display: block;
      }

      .row:first-of-type > div {
        padding: 50px 25px;
        padding-bottom: 0;
      }

      .partner-image {
        img {
          margin: 0 auto;
        }
      }

      .signature {
        .name {
          font-size: 1.3em;
          font-weight: bold;
        }
      }

      p {
        line-height: 2em;
      }

      .btn {
        margin: 0 1em;
      }

      h2 {
        color: $color-text-inverse-secondary;
        font-weight: bold;
        letter-spacing: $size-font-tracking-larger;
        margin-top: 0;
        font-size: 3em;
      }
    }
  }

  .ticket-scan {
    position: relative;
    height: 1300px;

    @media (min-width: $screen-md-min) {
      height: 1000px;
    }

    .ticket-animate {
      width: 150%;
      position: absolute;
      z-index: 0;
    }

    .phone {
      top: 50px;
      z-index: 1;
      position: absolute;
    }

  }

  // BACKGROUNDS
  .bg-pt-1 {
    //background: url('../img/back-svg/back1.svg');
    background-repeat: no-repeat;
    background-position: right 0 top 0;
  }

  // Mobile backgrounds
  @media (max-width: $screen-xs-max) {
    section {

      &.bg-dark {
        background-color: $color-background-dark;
      }

      &.bg-light {
        background-color: $color-background-light;
      }

      &.bg-primary {
        background-color: $color-background-primary;
      }

    }

  }

}

$ratio: 1.64;
$base1: 1500;
$base2: 70;
$base3: 3000;
$base2TopOffset: 0;

#diamond-group{
  position:absolute;
  height:100px;
  z-index:0;
  width:100%;
  overflow:hidden;
}
#diamond-1 {
  position:relative;
  left:300px;
  margin-top:000px;
  width: 0;
  height: 0;
  border:$base1+px solid transparent;
  border-bottom: ($base1*$ratio)+px solid #c9e0f1;
  position: relative;
  top: -624px;
  max-width:100px;
}
#diamond-1:after {
  content: '';
  position: absolute;
  left: -($base1)+px; top: ($base1*$ratio)+px;
  width: 0;
  height: 0;
  border: ($base1)+px solid transparent;
  border-top: ($base1*$ratio)+px solid #c9e0f1;
}

#diamond-2 {
  position:relative;
  margin-top:000px;
  width: 0;
  height: 0;
  border:$base3+px solid transparent;
  border-bottom: ($base3*$ratio)+px solid #f17165;
  position: relative;
  top: -7380px;
  left:-5000px;
}
#diamond-2:after {
  content: '';
  position: absolute;
  left: -($base3)+px; top: ($base3*$ratio)+px;
  width: 0;
  height: 0;
  border: ($base3)+px solid transparent;
  border-top: ($base3*$ratio)+px solid #f17165;
}

