<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          <!-- <img src="img/liggend_eventix_wh_zs.svg" alt="Eventix Logo" /> -->
          <svg viewBox="0 0 1193.539 283.333">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/liggend_eventix_wh_zs.svg#logo"></use>
          </svg>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-right-sm" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active dropdown">
            <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Start
              <span class="sr-only">(current)</span>
            </a>
            <ul class="dropdown-menu">
              <li><a data-scroll href="index.html">Home</a></li>
              <li><a data-scroll href="index.html#features" class="inline">Features</a></li>
              <li><a data-scroll href="index.html#partners" class="inline">Partners</a></li>
              <li><a data-scroll href="index.html#how-it-works" class="inline"> How it works</a></li>
              <li><a data-scroll href="index.html#customers" class="inline">Customers</a></li>
              <li><a data-scroll href="faq.html">FAQ</a></li>
              <li><a data-scroll href="usecases.html">Use Cases</a></li>
            </ul>
          </li>
          <li>
            <a href="pricing.html">
              Pricing
            </a>
          </li>
          <li>
            <a href="blog.html">
              Blog
            </a>
          </li>
          <li class="dropdown">
            <a href="developers.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Developers
            </a>
            <ul class="dropdown-menu">
              <li><a data-scroll href="developers.html#api">API documentation</a></li>
              <li><a data-scroll href="developers.html#support">Support</a></li>
            </ul>
          </li>
          <li>
            <a href="demo.html">
              Demo
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              <span class="glyphicon glyphicon-globe"></span>
              <span class="sr-only">Language</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">
                  English
                </a>
              </li>
              <li>
                <a href="#">
                  Nederlands
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="btn btn-primary btn-large btn-success rollover" role="button" href="https://dashboard.eventix.io">
              Log In
            </a>
          </li>
          <li class="visible-lg">
            <a class="btn btn-primary btn-large rollover" role="button" href="https://dashboard.eventix.io/register">
              Sign Up
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
