<meta charset="UTF-8">
<meta http-equiv="content-language" content="nl">
<meta name="description" content="Een compleet kaartverkoop systeem voor alle type evenementen. Verkoop je tickets via het uitbegreide Eventix ticketing systeem"/>
<meta name="keywords" content="ticketingsysteem, e-tickets verkopen, eventix, evenement organiseren, online kaartjes verkopen"/>

<meta property="og:locale" content="nl_NL"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Eventix - Kaartverkoopsysteem voor alle soorten evenementen"/>
<meta property="og:url" content="https://eventix.nl/"/>
<meta property="og:description" content="Eventix biedt een complete kaartverkoop oplossing voor evenementen. Via de website bent je in staat de kaartverkoop voor je evenement aan te maken en te managen. Je krijgt te allen tijde inzicht in de statistieken en hebt zelf de touwtjes in handen."/>
<meta property="og:image" content="//eventix.nl/documents/share_header.png"/>
<meta property="og:site_name" content="Eventix - Kaartverkoopsysteem voor alle soorten evenementen"/>
<meta property="article:publisher" content="https://facebook.com/eventix"/>
<meta property="fb:admins" content="1432022553679881"/>

<link rel="shortcut icon" href="icon.ico">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="canonical" href="https://eventix.nl/"/>
<link rel="publisher" href="https://plus.google.com/+EventixNl1">
<meta name="author" content="Eventix">
<meta name="robots" content="index, follow"/>
<meta name="HandheldFriendly" content="true"/>

<link rel="stylesheet" href="css/main.css" />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T5QT9N7');</script>
<!-- End Google Tag Manager -->
<script src="//app.breakfastleads.com/t.js" id="B2B1512635784" async defer></script>

