footer {
  background: $color-background-dark;
  color: $color-text-inverse-secondary;
  padding: 30pt 0;

  .footer-links {

    padding-bottom: 40pt;

    .col-sm-4 {
      padding: 0;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      @include columncount(3);

      li {

        a {
          color: $color-text-inverse;
          text-transform: lowercase;
          font-size: $size-font-body-larger;
          font-weight: normal;
          line-height: 1.8em;
          letter-spacing: 0.08em;

          &:hover {
            text-decoration: none;
            color: $color-text-inverse-secondary;
          }
        }
      }
    }
  }

  .footer-social {
    font-size: $size-font-body-larger;
    font-weight: bold;

    input[type=email] {
      display: block;
      padding: 5pt;
      width: 100%;
      margin: 1em 0;
    }

    ul.networks {
      list-style-type: none;
      padding-left: 0;

      li {
        display: inline-block;
        font-size: 40pt;
        margin: 0 .5em;

        a {
          color: $color-background-light;

          &:hover {
            color: $color-background-primary;
          }
        }
      }
    }
  }

  .footer-copyright {
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 0.1em;
    font-size: 0.8em;

    a {
      color: $color-text-accent;
      text-decoration: dotted;
    }

    .footer-copyright-text {
      margin-top: 2em;
    }
  }

  .footer-privacy {
    padding-left: 0;
    margin: 1em 0 0;

    li {
      font-weight: bold;
      display: inline-block;

      &:after {
        content: " | ";
      }

      &:last-child:after {
        content: '';
      }
    }
  }

  .footer-logo-container {
    text-align: center;
  }

  .footer-logo {
    height: 110pt;
  }

}

&.footer-gray footer {
  background: $color-background-gray;
  color: $color-text-gray;

  .footer-links ul li a {
    color: $color-text-gray;
    &:hover {
      color: $color-text-inverse-secondary;
    }
  }

  .footer-social {
    ul.networks {
      li {
        a {
          color: lighten($color-text-gray, 20%);

          &:hover {
            color: $color-text-inverse-secondary;
          }
        }
      }
    }
  }

  .footer-copyright {
    a {
      color: $color-text-inverse-secondary;
    }

  }
}
