footer {
  background: $color-background-dark;
  color: $color-text-inverse-secondary;

  .footer-links {

    ul {
      list-style-type: none;

      li {

        a {
          color: $color-text-inverse;
          text-transform: lowercase;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .footer-social {

  }


}