article {

  margin-bottom: 5em;

  &:first-of-type {
    margin-top: 10em;
  }

  h2, h3.with-mark {
    font-weight: bold;
    letter-spacing: 0.1em;
    position: relative;

    span {
      font-weight: normal;
      letter-spacing: 0.04em;

      &:before {
        content: "|";
        padding-right: .3em;
      }
    }
  }

  h2 {
    font-size: $size-font-h2;
  }

  h3.with-mark {
    font-size: 19pt;
  }

  // MARKS
  @media(min-width: $screen-sm-min) { // marks only show if the window is wide enough
    &:not(.no-mark) { // if we want a mark
      h2:before { // common mark properties
        content: '';
        height: 2em;
        width: 2em;
        top: -0.4em;
        display: block;
        position: absolute;
      }

      &:not(.text-right) { // left mark
          padding-left: 6.5em;

          h2:before {
            left: -2.6em;
          }
      }

      &.text-right { // right mark
        padding-right: 6.5em;

        h2:before {
          right: -2.6em;
        }
      }

      &:not(.alt-mark) h2:before { // default mark
        background: url('../img/heading-img.png') no-repeat;
        background-size: cover;
      }

      &.alt-mark h2:before { // alternative mark
        background: url('../img/heading-img-inv.png') no-repeat;
        background-size: cover;
      }
    }
  }

  h3 {
    font-size: $size-font-body-larger;
    letter-spacing: .05em;
  }

  .subtitle {
    color: $color-text-accent;
    font-size: 0.6*$size-font-h2;
    letter-spacing: .05em;
    font-weight: 300;
    margin-top: -0.5em;
    margin-bottom: 0.8em;
  }

}
