.btn {

  text-transform: lowercase;
  border-radius: $radius-default;
  padding: 0.65em 1.1em;
  letter-spacing: $size-font-tracking-large;
  background: transparent;
  border: $color-text-accent 4pt solid;
  color: $color-text-primary;
  position: relative;
  overflow: hidden;

  &.btn-large {
    font-size: 0.9 * $size-font-body-large;
  }

  &.btn-default {
    // defined above
  }

  &.btn-primary {
    color: $color-text-inverse;
    background: $color-text-accent;
    border: 0;

    &.rollover:after {
      background-color: lighten($color-text-accent, 5%);
    }
  }

  &.btn-success {
    border-color: $color-success;
    color: $color-success;

    &.btn-primary {
      background: $color-success;
      border: 0;
      color: $color-text-inverse;
    }

    &.rollover:after {
      background-color: lighten($color-success, 5%);
    }
  }

  &.btn-blue {
    border-color: $color-text-inverse-secondary;
    color: $color-text-inverse-secondary;

    &.btn-primary {
      background: $color-text-inverse-secondary;
      border: 0;
      color: $color-text-inverse;
    }

    &.rollover:after {
      background-color: lighten($color-text-inverse-secondary, 5%);
    }

  }

  &.rollover {
    z-index: 1;

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      top: -100%;
      height: 100%;
      content: '';
      transform: translateY(0px);
      transition: transform 0.3s;
      z-index: -1;
    }

    &:hover:after {
      transform: translateY(100%);
      transition: transform 0.3s;
    }
  }

}
