.btn {

  font-size: $size-font-body-large;
  text-transform: lowercase;
  border-radius: $radius-default;
  padding: 0.65em 1.1em;
  letter-spacing: $size-font-tracking-large;
  background: transparent;
  border: $color-text-accent 4pt solid;
  color: $color-text-primary;

  &.btn-default {
    // defined above
  }

  &.btn-primary {
    color: $color-text-inverse;
    background: $color-text-accent;
    border: 0;
  }

  &.btn-success {
    border-color: $color-success;
    color: $color-success;
  }

}