.device-frame {
  $bezel-color-apple: #FBFAFA;
  $bezel-color-ipad: $bezel-color-apple;
  $bezel-color-iphone: $bezel-color-apple;

  margin: 0 auto;

  div.device {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;

    > iframe, > div, > img {
      position: absolute;
      border: 5px solid white;
    }
  }

  &.device-frame-ipad {

    &:not(.device-frame-landscape) { // default portrait
      $image-height: 842;
      $image-width: 595;

      max-width: $image-width * 1px;

      div.device {
        // @see https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css
        padding-bottom: ($image-height / $image-width) * 100%;
        background-image: url('../img/werkdock_ipad_air.png');

        iframe, div, img {
          border-color: $bezel-color-ipad;
        }

        > iframe, > div, > img {
          top: 15%;
          left: 13%;
          height: 71%;
          width: 76%;
        }
      }
    }

    &.device-frame-landscape {
      $image-height: 595;
      $image-width: 842;

      max-width: $image-width * 1px;

      div.device {
        // @see https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css
        padding-bottom: ($image-height / $image-width) * 100%;
        background-image: url('../img/werkdock_ipad_air_land.png');

        iframe, div, img {
          border-color: $bezel-color-ipad;
        }

        > iframe, > div, > img {
          top: 12%;
          left: 15%;
          height: 75%;
          width: 71%;
        }
      }
    }
  }

  &.device-frame-iphone {

    &:not(.device-frame-landscape) { // default portrait
      $image-height: 651;
      $image-width: 350;

      max-width: $image-width * 1px;

      div.device {
        // @see https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css
        padding-bottom: ($image-height / $image-width) * 100%;
        background-image: url('../img/werkdock_iphone.png');

        iframe, div, img {
          border-color: $bezel-color-iphone;
        }

        > iframe, > div, > img {
          top: 14%;
          left: 12%;
          height: 72%;
          width: 76%;
        }

      }
    }

    &.device-frame-landscape {
      $image-height: 350;
      $image-width: 651;

      max-width: $image-width * 1px;

      div.device {
        // @see https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css
        padding-bottom: ($image-height / $image-width) * 100%;
        background-image: url('../img/werkdock_iphone_land.png');

        iframe, div, img {
          border-color: $bezel-color-iphone;
        }

        > iframe, > div, > img {
          top: 12%;
          left: 13%;
          height: 76%;
          width: 73%;
        }
      }
    }
  }

}
