.hexagon-grid {

  margin-top: 40px;

  $hexagon-size: 180;

  .hexagon-item {

    float: left;
    height: $hexagon-size * 1px;
    width: $hexagon-size * 1px;
    position: relative;

    .hexagon {
      height: $hexagon-size * 1px;
      width: $hexagon-size * 1px;
      position: relative;

      .hex {
        fill: #1B4D7E;
        height: $hexagon-size * 1px;
        width: $hexagon-size * 1px;
      }

      img {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 17%;
      }
    }

    p.hexagon-title {
      color: $color-text-inverse-secondary;
      padding: 10px 20px;
    }

    ul.dropdown-menu {
      width: 100%;
      font-size: 16pt;
      margin-top: -5px;
      display: none;

      li > a {
        color: #888;
        font-weight: 300;
        &:hover {
          color: $color-text-accent;
        }
      }
    }

    &.highlighted {
      .hex {
        fill: $color-background-light;
      }
    }

    &:hover {
      ul.dropdown-menu {
        display: block;
      }

      .hex {
        fill: $color-text-accent;
      }

      img {
          filter: brightness(0) invert(1);
      }
    }

    // responsive grid: https://codepen.io/vichid/pen/EKFgG
    @media (min-width: 380px) and (max-width: 539px) {
      // two in a line
      margin-right: -(1/6) * $hexagon-size * 1px;

      &:nth-child(2) {
        margin-top: (17/36) * $hexagon-size * 1px;
      }

      &:nth-child(2n+3) {
        margin-top: -0.5 * $hexagon-size * 1px;
      }

      // make sure that the first one starts on the left
      &:nth-child(2n+3) {
        clear: left;
      }
    }

    @media (min-width: 540px) and (max-width: 699px) {
      // three in a line
      margin-right: -(1/6) * $hexagon-size * 1px;

      &:nth-child(2) {
        margin-top: (17/36) * $hexagon-size * 1px;
      }

      &:nth-child(3n+4), &:nth-child(3n+6) {
        margin-top: -0.5 * $hexagon-size * 1px;
      }

      // make sure that the first one starts on the left
      &:nth-child(3n+4) {
        clear: left;
      }
    }

    @media (min-width: 700px) and (max-width: $screen-md-min - 1px) {
      // four in a line
      margin-right: -(1/6) * $hexagon-size * 1px;

      &:nth-child(2), &:nth-child(4) {
        margin-top: (17/36) * $hexagon-size * 1px;
      }

      &:nth-child(4n+5), &:nth-child(4n+7) {
        margin-top: -0.5 * $hexagon-size * 1px;
      }

      // make sure that the first one starts on the left
      &:nth-child(4n+5) {
        clear: left;
      }
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1px) {
      // six in a line
      margin-right: -(1/6) * $hexagon-size * 1px;

      &:nth-child(2), &:nth-child(4), &:nth-child(6) {
        margin-top: (17/36) * $hexagon-size * 1px;
      }

      &:nth-child(6n+7), &:nth-child(6n+9), &:nth-child(6n+11) {
        margin-top: -0.5 * $hexagon-size * 1px;
      }

      // make sure that the first one starts on the left
      &:nth-child(6n+7) {
        clear: left;
      }
    }

    @media (min-width: $screen-lg-min) {
      // seven in a line
      margin-right: -(1/6) * $hexagon-size * 1px;

      &:nth-child(2), &:nth-child(4), &:nth-child(6) {
        margin-top: (17/36) * $hexagon-size * 1px;
      }

      &:nth-child(7n+8), &:nth-child(7n+10), &:nth-child(7n+12), &:nth-child(7n+14) {
        margin-top: -0.5 * $hexagon-size * 1px;
      }

      // make sure that the first one starts on the left
      &:nth-child(7n+8) {
        clear: left;
      }
    }
  }

}