.hex-tabs {
  transform: rotate(90deg);
  transform-origin: left;
  position: absolute;
  left: 0;
  top: 30%;
  display: inline-block;

  ul {
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      padding: 2.5em 1.5em 1em;
      color: inherit;
      text-decoration: none;
      margin: 0 -15px;
      list-style: none;
      width: 12em;
      height: 9em;
      margin-bottom: 5em;
      transition: margin 0.3s;

      a {
        position: absolute;
        z-index: 1;
        color: inherit;
        width: 9em;
        text-align: center;
        left: 0;
        right: 0;
        margin: 1em auto;
        text-transform: lowercase;
        letter-spacing: $size-font-tracking-large;

        &:hover {
          text-decoration: none;
        }
      }

      &:before {
        content: ''; /* To generate the box */
        position: absolute;
        top: 0; right: 0; bottom: .5em; left: 0;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        transform: perspective(4px) rotateX(1deg);
        transform-origin: bottom;
      }

      &:hover, &.highlighted {
        margin-bottom: 105px;
        transition: margin 0.3s;
      }

      &:nth-child(3n) {
        color: $color-text-primary;

        &:before {
          background: $color-background-primary;
        }
      }

      &:nth-child(3n+1) {
        color: $color-text-inverse;

        &:before {
          background: $color-background-dark;
        }
      }

      &:nth-child(3n+2) {
        color: $color-text-inverse;

        &:before {
          background: $color-background-light;
        }
      }
    }
  }
}
