.logo-reel {
  background: $color-background-light;
  margin-top: 20px;

  ol.carousel-indicators {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    bottom: auto;
    padding-left: 0;
    text-align: center;
    margin-left: auto;

    li {
      width: auto;
      height: auto;
      text-indent: 0;
      border: none;
      background: none;
    }
  }

  ul, ol {
    padding-left: 0;
    text-align: center;

    li {
      list-style: none;
      display: inline-block;
      position: relative;

      img, svg {
        padding: 0 1.5em;
        height: 40pt;
        display: inline-block;
        vertical-align: middle;
        margin-top: -1.5em;
        fill: white;

        @media(min-width: $screen-md-min) {
          font-size: 70pt;
          padding: 0 50px;
          height: 70pt;
          margin-top: -50px;
        }
      }

      .fa  {
        font-size: 40pt;
        padding: 20px 0.5em;

        @media(min-width: $screen-md-min) {
          font-size: 70pt;
          padding: 35px 0.5em;
        }
      }

      .dropdown-menu {
        color: $color-text-subtle;
        letter-spacing: $size-font-tracking-larger;
        width: 300px;
        margin-left: -50px;

        .integration-bar-description {
          padding: 20px 20px;
        }

        a {
          color: $color-text-inverse-secondary;
        }
      }

      &:hover {
        .fa {
          color: $color-text-inverse-secondary;
        }

        .dropdown-menu {
          display: block;
        }
      }

      &.active, &.active:hover {
        .fa {
          color: $color-text-accent;
        }

        svg {
          fill: $color-text-accent;
        }
      }
    }
  }
}
