nav.navbar {

  background: transparentize($color-background-dark, 0.1);
  transition: background-color 300ms linear;
  border: 0;
  color: $color-text-inverse;
  font-size: 13pt;
  margin: 0;
  padding: 8pt 0;

  .navbar-header {

    .navbar-brand {

      padding: 5px;
      //padding-left: 15px;
      //margin-top: -4px;;

      img {
        height: 30pt;
      }

      @media (min-width: $screen-lg-min) {

        padding: 0;
        padding-left: 15px;

        img {
          height: 40pt;
        }
      }
    }
  }

  ul.navbar-nav {

    > li {

      a {
        text-transform: lowercase;
        letter-spacing: $size-font-tracking-large;
        color: $color-text-inverse;

        &:not(.btn) {
          background: transparent;
        }

        &.btn {
          font-size: 15pt;
          margin-left: 5px;
        }

        &.inline {

          &:before {
            content: '> ';
          }
        }
      }

      &.active {

        a {
          background: transparent; // override bootstrap default color
          color: $color-text-accent;
        }
      }

      &.dropdown {

        &.open {
          background: $color-text-inverse;
          box-shadow: none;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          a {
            color: $color-text-subtle;
          }

        }

        @media (min-width: $screen-sm-min) {
          &:hover {

            background: $color-text-inverse;
            box-shadow: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            a {
              color: $color-text-subtle;
            }

            ul.dropdown-menu {
              display: block;
            }
          }
        }

        ul.dropdown-menu {
          border: 0;
          width: 100%;

          a {
            text-transform: initial;
            color: $color-text-subtle;
            letter-spacing: 0.03em;

            &:hover {
              color: $color-text-accent;
            }
          }
        }

      }

    }
  }

  @media (min-width: $screen-lg-min) {
    &.on-top {
      background: transparent;
      transition: background-color 300ms linear;
    }
  }

}
