// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// COLORS

$color-text-primary: #002e6c;
$color-text-accent: #ff4c00;
$color-text-subtle: #808285;
$color-text-gray: #666666;

$color-text-inverse: white;
$color-text-inverse-secondary: #67b2e7;
$color-text-inverse-tertiary: #bbd9ea;

$color-background-primary: #cfeeff;
$color-background-dark: #012f6c;
$color-background-light: #99caea;
$color-background-gray: #e6e6e6;

$color-success: #3fd4ad;

// FONT SIZES
$size-font-body: 11pt; $font-size-base: $size-font-body;
$size-font-body-larger: 13pt;
$size-font-body-large: 20pt; $font-size-large: $size-font-body-large;

$size-font-tracking-large: 0.2em; // tracking of 200 (https://stackoverflow.com/questions/2760784/how-to-calculate-css-letter-spacing-v-s-tracking-in-typography)
$size-font-tracking-larger: 0.1em;

$size-font-h1: 50pt;
$size-font-h2: 28pt;

// BORDERS
$radius-default: 5pt;
