// BODY DEFAULTS
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: $size-font-body;
}

// FONT SIZES
.font-larger {
  font-size: $size-font-body-larger;
}

.font-large {
  font-size: $size-font-body-large;
}

// CHARACTER SPACING
.tracking-larger {
  letter-spacing: $size-font-tracking-larger;
}

.tracking-large {
  letter-spacing: $size-font-tracking-large;
}

// HEADINGS
h1 {
  font-size: $size-font-h1;
  letter-spacing: 0.095em;
  font-weight: normal;

  @media(max-width: $screen-sm-min) {
    font-size: 0.6 * $size-font-h1;
  }
}

// COLORS
.color-secondary {
  color: $color-text-subtle;
}

.color-inverse {
  color: $color-text-inverse;

  .color-secondary {
    color: $color-text-inverse-secondary;
  }

  .color-tertiary {
    color: $color-text-inverse-tertiary;
  }
}

// STYLES
.text-bold {
  font-weight: bold;
}
